
		h1 {
			border-bottom: 2px blue solid;
			background: url("http://htmlbook.ru/themes/hb/img/browser_ie.png") left center no-repeat;
			padding-left: 20px;
			background-color: yellow;
			padding: 20px 30px 40px	50px

		}
